# <p style = "text-align: center;"> Домашнее задание №1 </p>
### <p style = "text-align: center;"> *Гвоздков Иван, БСЦ214* </p>

#### №1. Средний балл

In [68]:
# Получаем на вход готовый список, остаётся только высчитать искомые переменные и вывести результат
student = ['Иван Питонов', 2001, [8, 7, 7, 9, 6], True]

# Фамилию и имя выводим, обращаясь к элементу под индексом [0] в списке, делим строку на фамилию и имя с помощью split
lastname = student[0].split()[1]
firstname = student[0].split()[0]

# Чтобы найти возраст, нужно отнять от нынешнего года (2020 по условию) год рождения - это элемент под индексом [1] в списке
age = 2020 - student[1]

# Выводим оценки через запятую - это список, элемент под индексом [2] в нашем исходном списке
marks = ', '.join(map(str, student[2]))

# Элементарно считаем средний балл - сумму делим на мощность, обратившись к списку в списке под индексом [2]
average_score = sum(student[2])/len(student[2])

# Через условный оператор проверяем наличие стипендии - по условию средний балл должен быть не менее, чем 8
if average_score >= 8: 
    increased_scholarship = True
else:
    increased_scholarship = False

# Далее просто выводим все результаты через f-строки
print(f'Студент: {lastname}, {firstname}')
print(f'Возраст студента: {age}')
print(f'Оценки студента: {marks}')
print(f'Средний балл студента: {average_score}')
print(f'Повышенная стипендия: {increased_scholarship}')

Студент: Питонов, Иван
Возраст студента: 19
Оценки студента: 8, 7, 7, 9, 6
Средний балл студента: 7.4
Повышенная стипендия: False

#### №2. Вложенные словари

In [69]:
# Имеется словарь из списков словарей
dict_of_lists = {'Список1': [{'Python': 'язык программирования'}, {'R':'язык программирования', 'LaTEX' : 'язык верстки' }],
                 'Список2' : [{'Windows' : ['операционная система', 'разработчик'], 'UNIX' : 'операционная система'}, 
                              {'IBM': ['компания-производитель', 'разработчик'], 'IPv6' : 'интернет-протокол' }]}

# Объяснять тут, по сути, нечего, просто сошлёмся на элемент, это, вроде как, нетрудно
print(dict_of_lists['Список2'][0]['Windows'][1])

разработчик

#### №3. Станция метро

In [70]:
# Имеется жёлтая ветка метро, находящаяся на востоке Москвы - это список станций
line = ["Третьяковская", "Марксистская", "Площадь Ильича", "Авиамоторная", 
        "Шоссе Энтузиастов", "Перово", "Новогиреево", "Новокосино"]

# Через input вводим строку - станцию
station = input('Введите станцию: ')

# Условный оператор: если элемент имеет индекс [-1] в списке, то это конечная, в иных случаях выводим следующую станцию
# Находим индекс текущей станции, прибавляем единицу и обращаемся к списку по полученному в результате индексу
# Если станция не найдена в нашем списке, то просим возвращаем строку с сообщением, что такой станции нет, данные неверные
if station == line[-1]:
    print('Конечная, покиньте вагон')
elif station in line:
    index = line.index(station)
    print(f'Следующая станция: {line[index + 1]}')
else:
    print('Данные введены неверно, такой станции нет')

Данные введены неверно, такой станции нет

#### №4. Срезы списков

In [71]:
# Имеется список дварфов, нужно вывести некоторых из них по заданному условию
dwarves = ["Балин", "Двалин", "Бифур", "Бофур", "Бомбур", "Оин", "Глоин", "Дори", "Нори", "Ори", "Фили", "Кили", "Торин"]

# Тут тоже не очень понятно, что объяснять, находим нужные алгоритмы, используем срезы
# В качестве мини-пояснения: [a:b:c], a - это включённая начальная точка, b - невключённая конечная точка, c - шаг
print(dwarves[1:4])
print(dwarves[:13:2])
print(dwarves[5:13:2])
print(dwarves[-1:-8:-2])
print(dwarves[12:13])

['Двалин', 'Бифур', 'Бофур']
['Балин', 'Бифур', 'Бомбур', 'Глоин', 'Нори', 'Фили', 'Торин']
['Оин', 'Дори', 'Ори', 'Кили']
['Торин', 'Фили', 'Нори', 'Глоин']
['Торин']

#### №5. Развернуть число

In [72]:
# Вводим целое число используя int и input
number = int(input('Введите число: '))

# Обнулим переменную, в которой будет итоговое развёрнутое число
rebmun = 0

# Используем цикл while с условием о том, что первоначальное число должно достичь нуля для остановки цикла
# Находим остатки от деления на 10, тем самым получая цифры с правой стороны числа по очереди
# В изначальном числе убираем крайние правые цифры путём деления на 10
# Повторяем, пока число не кончится
while number > 0:
    rebmun *= 10
    rebmun += number%10
    number //= 10

# Выводим полученное число
print(f'Развернутое число: {rebmun}')

KeyboardInterrupt: Interrupted by user

#### №6. Треугольник

In [ ]:
# Вводим число
number = int(input('Введите число: '))

# Довольно простой цикл
# Он повторится number раз, каждый вход будет давать нам список чисел от 1 до i через пробел, пока i не достигнет N
for i in range(1, number + 1):
    print(' '.join(map(str, list(range(1, i + 1)))))
    print()

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

1 2 3 4 5 6

1 2 3 4 5 6 7

1 2 3 4 5 6 7 8

1 2 3 4 5 6 7 8 9

1 2 3 4 5 6 7 8 9 10

1 2 3 4 5 6 7 8 9 10 11

1 2 3 4 5 6 7 8 9 10 11 12

#### №7. Про Поросёнка Петра

In [ ]:
# Вводим число ходов, обозначаем начало координат
number = int(input('Введите N: '))
x = 0
y = 0

# Внутри цикла обозначаем, какие ходы делал Поросёнок, вводим каждый из них
# Затем, в зависимости от направления, добавляем или отнимаем от значений начала координат шаги Поросёнка Петра
# Кратчайший путь, если нельзя ходить по диагонали, будет просто суммой координат по обеим осям
# В зависимости от того, какие данные введены неверно, будут возвращаться разные строки
for i in range(1, number + 1):
    motion = input(f'Ход {i}: ').split()
    if len(motion) != 2 or not motion[1].isdigit():
        print(f'Ход {i} введён неверно, Поросёнок Пётр не может соврешить такое действие')
        continue

    orientation = motion[0]
    steps = int(motion[1])

    if orientation == 'Вверх':
        x += steps
    elif orientation == 'Вниз':
        x -= steps
    elif orientation == 'Вправо':     
        y += steps
    elif orientation == 'Влево':
        y -= steps
    else:
        print(f'Ход {i} введён неверно, такого направления не существует')

# Выводим итоговый ответ для 
print(f'Пётр находится на расстоянии {abs(x) + abs(y)} от (0,0)')

Пётр находится на расстоянии 10 от (0,0)

#### №8. Объединение словарей

In [ ]:
# Вводим имеющийся список словарей
shops = [{'товар': 'яблоки', 'количество': 400},
         {'товар': 'конфеты', 'количество': 300}, 
         {'товар': 'яблоки', 'количество': 750}]

# Создадим функцию, которая будет возвращать наименование и количество товара в виде словаря
# Функция принимает на вход список словарей
# Функция обращается по ключам к каждому словарю и добавляет сначала ключ (если он уникальный и его ещё не было)
# А затем количество товара для каждого товара (то есть ключа), суммируя значения
def count_goods(shops):
    result = {}
    for shop in shops:
        for key, value in shop.items():
            if key == 'товар':
                if value in result:
                    result[value] += shop['количество']
                else:
                    result[value] = shop['количество']
    return result

print(count_goods(shops))

{'яблоки': 1150, 'конфеты': 300}

#### Подготовка к анализу данных, разминка

In [ ]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
babies = pd.read_csv('https://raw.githubusercontent.com/pileyan/Data/master/data/babies%20names/babies_all.txt', index_col=0)

#### Разминка, №1

In [ ]:
# С помощью unique находим, какие годы включает датасет
print("Список годов из датасета:")
print(babies.year.unique())

Список годов из датасета:
[1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1892 1893
 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907
 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921
 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935
 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1949
 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963
 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977
 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991
 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010]

#### Разминка, №2

In [ ]:
# Просто обращаемся по индексу к нужному столбцу
print("Имя под индеком 121 - это", babies.iloc[121]['name'])

Имя под индеком 121 - это Ann

#### Разминка, №3

In [ ]:
# Просто ищем соответствия в нужном столбце
print("За всё время наблюдений из базы данных родилось", babies[babies.name == 'Aaron'].shape[0], "человек с именем Аарон")

За всё время наблюдений из базы данных родилось 212 человек с именем Аарон

#### Разминка, №4

In [ ]:
# Находим разность между количеством значений по столбцу sex для мужчин и женщин, соответственно
print("Мальчиков родилось больше на", babies[babies.sex == 'M'].shape[0] - babies[babies.sex == 'F'].shape[0], "то есть, по сути, мальчиков родилось меньше, чем девочек на величину найденного значения")

Мальчиков родилось больше на -317186 то есть, по сути, мальчиков родилось меньше, чем девочек на величину найденного значения

#### Разминка, №5

In [ ]:
# Ставим два нужных по условию фильтра - год и пол
print("В 2010 году родилось", babies[(babies.year == 2010) & (babies.sex == 'M')].shape[0], "мальчиков")

В 2010 родилось 14140 мальчиков

#### Подготовка к анализу данных, основная часть

In [73]:
import pandas as pd
hotels = pd.read_csv("data/hotel_booking_data.csv")
hotels.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

#### Анализ данных, №1

In [77]:
# Для подсчёта используем shape, для учёта строк посылаем в shape значение 0
print(f'В наборе данных {hotels.shape[0]} строк')

В наборе данных 119390 строк

#### Анализ данных, №2

In [79]:
# Посчитаем пропуски с помощью isnull и суммируем их с помощью sum, после чего отсортируем
# Пропущенные значения есть в четырёх столбцах, больше всего - в столбце company (112593)
print(hotels.isnull().sum().sort_values(ascending = False))

company                           112593
agent                              16340
country                              488
children                               4
arrival_date_year                      0
lead_time                              0
is_canceled                            0
hotel                                  0
stays_in_weekend_nights                0
stays_in_week_nights                   0
arrival_date_day_of_month              0
arrival_date_month                     0
babies                                 0
meal                                   0
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
adults                                 0
arrival_date_week_number               0
reserved_room_type                     0
previous_bookings_not_canceled         0
booking_changes                        0
assigned_room_type                     0
deposit_type                           0
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

#### Анализ данных, №3

In [80]:
# Удалим столбец company, в котором больше всего пропущенных значений, с помощью drop
hotels_without_company = hotels.drop(columns = ['company'])

#### Анализ данных, №4

In [85]:
# Посчитаем значения - value_counts - и выведем первые 5 с помощью head
# Самые упоминаемые в наборе данных страны - это Португалия, Великобритания, Франция, Испания и Германия
hotels.country.value_counts().head()

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: count, dtype: int64

#### Анализ данных, №5

In [86]:
# Зададим условие - максимальное значение в столбце adr - и выведем только колонку с именем и, собственно, adr 
print(hotels[hotels['adr'] == hotels['adr'].max()][['name', 'adr']])

                name     adr
48515  Daniel Walter  5400.0

#### Анализ данных, №6

In [92]:
# Просто применим mean к указанному столбцу
print("Среднее значение adr для всех бронирований из набора данных =", hotels['adr'].mean())

Среднее значение adr для всех бронирований из набора данных = 101.83112153446686

#### Анализ данных, №7

In [93]:
# Создаём новую переменную путём суммирования ночей в выходные и будни, применяем mean, а потом round для округления
print("Среднее количество ночей по всем бронированиям =", round((hotels['stays_in_week_nights'] + hotels['stays_in_weekend_nights']).mean(), 2))

Среднее количество ночей по всем бронированиям = 3.43

#### Анализ данных, №8

In [94]:
# Умножаем значение adr на сумму ночей в выходные и будние дни, применяем опять же mean, а потом round для округления
print("Средняя общая сумма бронирования =", round((hotels['adr'] * (hotels['stays_in_week_nights'] + hotels['stays_in_weekend_nights'])).mean(), 2))

Средняя общая сумма бронирования = 357.85

#### Анализ данных, №9

In [ ]:
# С помощью loc можем установить фильтрацию поиска, зададим искомое значение для столбца со специальными запросами
# После этого выведем, собственно, получившуюся таблицу с именами и электронными адресами
print(hotels.loc[hotels['total_of_special_requests'] == 5, ['name', 'email']])

#### Анализ данных, №10

In [95]:
# С помощью value_counts посчитаем значения и передадим этому методу normalize = True, чтобы получить процентное соотношение
# 3.1912% бронирований можно классифицировать как повторных гостей
print(hotels.is_repeated_guest.value_counts(normalize = True))

is_repeated_guest
0    0.968088
1    0.031912
Name: proportion, dtype: float64

#### Анализ данных, №11

In [96]:
# Читаем столбец с именами, как строку, разбиваем по пробелу с помощью split, берём последний элемент, считаем и выводим
print(hotels['name'].str.split().str[-1].value_counts().head(5))

name
Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: count, dtype: int64

#### Анализ данных, №12

In [ ]:
# Задаём условие с помощью loc. Условие - максимальная сумма детей и младенцев. Выведем имена, детей и младенцев, соответственно
print(hotels.loc[(hotels['children'] + hotels['babies']) == (hotels['children'] + hotels['babies']).max(), ['name', 'children', 'babies']])

#### Анализ данных, №13

In [97]:
# Выберем строку с телефонными номерами, с помощью среза считаем три первых символа и как обычно - value_counts и head
print(hotels['phone-number'].str[:3].value_counts().head(3))

phone-number
799    168
185    167
541    166
Name: count, dtype: int64

#### Анализ данных, №14

In [98]:
# Для нужного столбца установим условие, чтобы количество дней было не меньше единицы и не больше пятнадцати
# Как обычно используем loc, после чего просто посчитаем с помощью count количество строк
print(hotels.loc[(hotels['arrival_date_day_of_month'] >= 1) & (hotels['arrival_date_day_of_month'] <= 15), 'arrival_date_day_of_month'].count())

58152